
.App {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/1447cf52326889.590c8c0515750.png');
    background-size: 100vw 100%;
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
}
.container {
    width : 38%; 
    height : 90vh; 
    margin: 0 auto; 
    background-color: rgb(48, 57, 107); 
    list-style-type: none;
    box-shadow: 2px 2px 10px rgba(46, 46, 45, 0.342);
    border-radius: 5px;
}
.active {
    color: white;
}
i {
    float: right;
}
#goals-container {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden; 
}
#goals-container div {
    overflow-wrap: break-word;
    clear: both;
}
#goal-form {
    height: 10%;
}
.tasks {
    width: 100%;
    border-bottom: 1px solid rgba(163, 162, 162, 0.267);
    color: rgb(238, 122, 141);
    font-size: 20px;
    line-height: 30px;
}

.goals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 28px;
    /* margin-right: 40px;
    margin-left: 20px; */
    color: rgb(207, 75, 97);
}
/* .goals :nth-child(even) {
    background-color: rgb(68, 80, 149); 
} */

#addGoal {
    height: 100%;
}
form #goal {
    width: 99.8%;
    height: 100%;
    border: none;
    border-radius: 2px;
    font-size: 25px;
}
form {
    position: relative;
    bottom: 2px;
}
.tasks:hover {
    opacity: 0.75;
    color: rgb(160, 24, 24);
    text-decoration: line-through;
}
.addTask {
    display: block;
    width: 100%;
    background-color: rgb(62, 71, 122);
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.taskForm {
    display: block;
    width: 100%;
    font-size: 18px;
}
.addTask img {
    padding: 0 5px 0 10px;
}
.completed {
    text-decoration: line-through;
    color: black;
    pointer-events: none;
}