/* global app */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

.App {
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
    background-color: #2D3151;
}
/* main-container */
.container {
    width : 40%; 
    height : 90vh; 
    margin: 0 auto; 
    background-color: #CCCCCC; 
    list-style-type: none;
    box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.active {
    color: white;
}
i {
    float: right;
}
i img {
    width: 24px;
    height: 24px;
}
/* goals-container */
#goals-container {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden; 
}
#goals-container div {
    overflow-wrap: break-word;
    clear: both;
}
.goals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: black;
    font-family: Roboto;
}
.goals div {
    padding: 6px 20px;
}
.goals:hover {
    background-color: rgb(48, 50, 150);
}
/* goal-form */
#goal-form {
    height: 10%;
}
#addGoal {
    height: 100%;
}
form #goal {
    width: 99.8%;
    height: 100%;
    border: none;
    border-radius: 2px;
    font-size: 25px;
    box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;
}
#goal::placeholder {
    font-size: 20px;
    text-align: center;
}
form {
    position: relative;
    bottom: 2px;
    font-size: 18px;
}
/* tasks */
.tasks {
    width: 90%;
    border-bottom: 1px solid rgba(163, 162, 162, 0.267);
    color: rgb(238, 122, 141);
    font-size: 20px;
    line-height: 30px;
    margin-left: 35px;
}
.tasks:hover {
    opacity: 0.75;
    color: white;
    text-decoration: line-through;
}
/* taskForm */
.taskForm {
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
label {
    font-size: 12px;
    color: white;
    margin: 0 10px 0 20px;
}
input {
    border: none;
    border-radius: 2px;
}
.completed {
    text-decoration: line-through;
    color: black;
    pointer-events: none;
}
@media (max-width: 1100) {
    .container {
        width: 50%;
    }
}
@media (max-width: 900px) {
    .container {
        width: 60%;
    }
}
@media (max-width: 700px){
    .container {
        width : 85%; 
    }   
}
@media (max-width: 500px){
    .container {
        width : 100%; 
    }   
}
